@model IEnumerable<BlogProject.MODEL.Entities.Post>

@{
    ViewData["Title"] = ViewBag.Author;
}

@foreach (var item in Model)
{
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a asp-controller="Post" asp-action="PostByID" asp-route-id="@item.ID" class="effect-lily tm-post-link tm-pt-60">
            <div class="tm-post-link-inner">
                <img src="~/@item.ImageURL" alt="Image" class="img-fluid align-content-stretch" width="700" height="365">
            </div>
            <span class="position-absolute tm-new-badge">New</span>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">@item.Title</h2>
        </a>
        <p class="tm-pt-30">
            @if (item.PostDetail.Length > 100)
            {
                item.PostDetail.Substring(0, 100);
            <label>...</label>
            }
            else
            {
                item.PostDetail.ToString(); 
            }

            @item.PostDetail.ToString(); 
        </p>
        <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary">@item.Tags</span>
            <span class="tm-color-primary">@item.CreatedDate.Value.ToShortDateString()</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span><i class="fa fa-eye"></i> @item.ViewCount.ToString()</span>
            <span><i class="fa fa-user"></i> @ViewBag.Author</span>
        </div>
    </article>
}




<div class="row tm-row tm-mt-100 tm-mb-75">
    <div class="tm-prev-next-wrapper">
        <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
        <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
    </div>
    <div class="tm-paging-wrapper">
        <span class="d-inline-block mr-3">Page</span>
        <nav class="tm-paging-nav d-inline-block">
            <ul>
                <li class="tm-paging-item active">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

